<!doctype html>{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="/favicon.ico">
    {% if main_css %}
        <link rel="stylesheet" href="{% static main_css %}">
    {% endif %}
    <title>DJCRA</title>
</head>
<body>
{% spaceless %}
    {% if main_js %}
        <script type="text/javascript" src="{% static main_js %}"></script>
    {% endif %}
    {% if bundle_js %}
        <script type="text/javascript" src="{{ bundle_js }}"></script>
    {% endif %}
{% endspaceless %}
</body>
</html>
